#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  /* margin-top: 60px; */
}
ul, li {
  list-style: none; /* 去除默认的列表样式 */
  padding: 0; /* 去除内边距 */
  margin: 0; /* 去除外边距 */
}

.tip {
    font-size: 20px;
    padding: 3px 40px;
}